@import "variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #application {
  margin: 0;
  padding: 0;
  height: 100%;

  background: linear-gradient(to bottom, #7633c7 0%, #8744d9 100%);
}

input[type="submit"], button {
  height: 40px;
  width: 200px;
  padding: 0;

  background: transparent;

  border: solid white;
  border-radius: 100px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  outline: 0;
  font-size: 18px;

  cursor: pointer;

  &:hover {
    background: #9763d9;
    border: solid transparent;
  }

  &:active {
    background: #b088e1;
    border: solid transparent;
    padding: 0;
  }

  &::-moz-focus-inner {
    border: none;
  }
}
