// @import "variables";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

$brand-color: #8D3EC1;

* {
  box-sizing: border-box;
}

html, body, #application {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.fullheight {
  height: 100%;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.chipnflip-layout {
  height: 100%;
  display: flex;
  flex-flow: column;
  background: white;

  header {
    @include center-content;
    height: 80px;
    border-bottom: 2px solid gray;

    .tabs {
      float: right;
      display: flex;
      flex-flow: row;
      align-items: baseline;

      .tab {
        width: 100px;
        @include center-content;

        a {
          color: black;
          text-decoration: none;
        }

        &.active {
          a {
            color: #8D3EC1;
          }
        }
      }
    }
  }

  main {
    flex-grow: 1;
    background: #EEEEEE;
    display: flex;
    flex-flow: column;

    .user {
      margin-bottom: 20px;
      text-align: center;
    }

    &.start-the-game {
      background: white;
      @include center-content;
    }

    .central-panel {
      flex-grow: 1;
      margin: 40px auto;
      background: white;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);

      display: flex;
      flex-flow: column;

      &.bills {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .note-row {
          text-align: center;
        }

        .bill-row {
          display: flex;
          flex-flow: row;
          justify-content: center;

          .current {
            color: $brand-color;
            text-align: center;

            .amount {
              font-size: 4em;
            }
          }

          .decrease, .increase {
            display: flex;
            align-items: center;
            margin: 0 20px;

            .arrow {
              margin: 0 10px;
            }

            .delta {
              color: $brand-color;
            }
          }
        }

        .note-currency-row {
          text-align: center;
          color: $brand-color;
          font-size: 1.8em;
        }

        .buttons-row {
          margin-top: 50px;
          display: flex;
          justify-content: center;

          button {
            margin: 0 50px;
          }
        }
      }

      &.howtoplay, &.settings {
        display: flex;
        flex-flow: row;

        .aside {
          padding: 20px;
          flex-basis: 30%;
          font-size: 2em;
          color: $brand-color;
        }

        .content {
          padding: 20px;
          flex-grow: 1;

          p:first-child {
            margin-top: 0;
          }
        }
      }

      &.settings {
        form {
          margin-top: 10px;
          display: flex;
          flex-flow: column;

          input {
            margin: 5px 0;
          }

          input:not([type="submit"]) {
            width: 100%;
          }

          input[type="submit"] {
            margin-top: 30px;
          }
        }
      }
    }
  }

  footer {
    height: 80px;

    background: #7634C7;
    color: white;
    a { color: white; }

    .container {
      display: flex;
      flex-flow: row;
      align-items: center;

      .brand {
        @include center-content;
        flex-grow: 2;
        font-size: 2em;
        width: 200px;
      }

      .links {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
      }

      .social-icons {
        flex-grow: 1;
        display: flex;
        flex-flow: row;

        .social-icon {
          width: 32px;
          height: 32px;
          margin: 0 5px;
          background: #602E9C;
          border-radius: 100%;
          @include center-content;
        }
      }

      .phone {
        margin: 0 20px;
      }
    }
  }
}

.page-index {
  .unauthorized-variant {
    background: linear-gradient(to bottom, #7633c7 0%, #8744d9 100%);

    .authorize-form, .register-form {
      height: 100%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;

      input:not(:last-child) {
        margin-bottom: 10px;
      }

      input[type="submit"] {
        margin-top: 60px;
      }

      .register-link {
        margin-top: 20px;
      }
    }
  }
}

.register-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

$cell-size: 50px;
$grid-border-radius: 10px;

.page-game {
  display: flex;
  flex-flow: column;
  height: 100%;

  .row-avatars {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    justify-content: center;

    .avatar-left, .avatar-right {
      margin: 0 auto;

      .username {
        text-align: center;

        &.active {
          color: $brand-color;
        }
      }
    }

    .bet {
      font-size: 2em;
      display: flex;
      align-items: end;
      margin: auto 0;
    }
  }

  .row-grid {
    display: flex;
    flex-flow: row;
    justify-content: center;

    .grid {
      display: flex;
      flex-flow: column;

      .row {
        display: flex;
        flex-flow: row;

        &:nth-child(1) {
          :nth-child(1) {
            border-top-left-radius: $grid-border-radius;
          }
          :nth-child(7) {
            border-top-right-radius: $grid-border-radius;
          }
        }

        .cell {
          border-radius: 8px;
          display: inline-block;
          height: $cell-size;
          width: $cell-size;
          background: #d6c0f2;
          margin: 2px;

          @include center-content;

          &:hover {
            background: #e8d7fd;
          }

          .check {
            display: inline-block;
            width: 90%;
            height: 90%;
            border-radius: 100px;

            cursor: pointer;

            &.first-check {
              background: white;
              box-shadow: inset 0px 0px 20px 10px #FCDDA8;

              &.active {
                box-shadow: inset 0px 0px 20px 10px #FCDDA8, 0px 0px 2px 4px green;
              }
            }

            &.second-check {
              background: #8B35C6;
              box-shadow: inset 0px 0px 15px 15px #37154E;

              &.active {
                box-shadow: inset 0px 0px 15px 15px #37154E, 0px 0px 2px 4px green;
              }
            }

            transition: box-shadow 0.2s ease-in-out;
          }
        }
      }

      &.active .cell {
        cursor: pointer;
      }
    }
  }

  .row-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;

    button {
      margin: 20px;
    }
  }
}

@import "./ui-elements";
