// @import "variables";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body, #application {
  margin: 0;
  padding: 0;
  height: 100%;

  background: linear-gradient(to bottom, #7633c7 0%, #8744d9 100%);
}

input, button {
  box-sizing: border-box;

  height: 50px;
  width: 217px;
  padding: 0;

  border-radius: 100px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  outline: 0;
  font-size: 14px;
}

input[type="submit"], button {
  background: transparent;
  border: solid white;
  color: white;
  cursor: pointer;

  &:hover {
    background: #9763d9;
    border: solid transparent;
  }

  &:active {
    background: #b088e1;
    border: solid transparent;
    padding: 0;
  }

  &::-moz-focus-inner {
    border: none;
  }
}

input:not([type="submit"]) {
  border: solid transparent;
  padding: 0 20px;
  color: black;
}

.authorize-form, .register-form {
  height: 100%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  input:not(:last-child) {
    margin-bottom: 10px;
  }
}

.register-link {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.page-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .grid {
    .row {
      .cell {
        display: inline-block;
        height: 50px;
        width: 50px;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 2px;

        .check {
          display: inline-block;
          width: 100%;
          height: 100%;

          &.first-check {
            background: black;
          }

          &.second-check {
            background: white;
          }
        }
      }
    }
  }
}
